In [10]:
import numpy as np
import pandas as pd
import scanpy as sc

In [2]:
file_path = '/Users/cheshic/dev/test_data/neurips-2021/multiome/multiome_atac_processed_training.h5ad'

In [42]:
sc_raw = sc.read(file_path)
sc_raw

AnnData object with n_obs × n_vars = 22463 × 116490
    obs: 'nCount_peaks', 'atac_fragments', 'reads_in_peaks_frac', 'blacklist_fraction', 'nucleosome_signal', 'cell_type', 'pseudotime_order_ATAC', 'batch'
    var: 'feature_types'
    uns: 'dataset_id', 'gene_activity_var_names', 'organism'
    obsm: 'gene_activity', 'lsi_full', 'lsi_red', 'umap'
    layers: 'counts'

In [5]:
sc_raw.obs

,nCount_peaks,atac_fragments,reads_in_peaks_frac,blacklist_fraction,nucleosome_signal,cell_type,pseudotime_order_ATAC,batch
TAGTTGTCACCCTCAC-1-s1d1,4031.0,5400,0.746481,0.003473,0.642468,Naive CD20+ B,NaN,s1d1
CTATGGCCATAACGGG-1-s1d1,8636.0,19266,0.448251,0.003126,1.220679,CD14+ Mono,NaN,s1d1
CCGCACACAGGTTAAA-1-s1d1,4674.0,6177,0.756678,0.001284,0.692573,CD8+ T,NaN,s1d1
TCATTTGGTAATGGAA-1-s1d1,2803.0,4019,0.697437,0.000714,0.633838,CD8+ T,NaN,s1d1
ACCACATAGGTGTCCA-1-s1d1,1790.0,2568,0.697040,0.003352,0.727660,CD16+ Mono,NaN,s1d1
...,...,...,...,...,...,...,...,...
TAGTAAGCAACTAGGG-8-s3d6,7239.0,10580,0.684216,0.000553,0.866142,HSC,0.23367,s3d6
TGGTCCTTCGGCTAGC-8-s3d6,16056.0,22771,0.705107,0.000810,0.964006,CD4+ T activated,NaN,s3d6
CGCTTGCGTTGTTGGA-8-s3d6,8388.0,14137,0.593337,0.000358,1.215227,pDC,NaN,s3d6
ACCCTCCCAGCCAGTT-8-s3d6,1001.0,1381,0.724837,0.000000,0.714286,CD8+ T,NaN,s3d6
AGTGAACCATCCCGCT-8-s3d6,3183.0,4684,0.679547,0.001257,0.946565,CD4+ T activated,NaN,s3d6

In [7]:
sc_raw.var

                        feature_types
chr1-9776-10668                  ATAC
chr1-180726-181005               ATAC
chr1-181117-181803               ATAC
chr1-191133-192055               ATAC
chr1-267562-268456               ATAC
...                               ...
GL000219.1-90062-90937           ATAC
GL000219.1-99257-100160          ATAC
KI270726.1-27152-28034           ATAC
KI270713.1-21434-22336           ATAC
KI270713.1-29629-30491           ATAC

[116490 rows x 1 columns]

In [53]:
ct_grouped = sc_raw.obs.groupby("cell_type").size()
df_ct_grouped = pd.DataFrame(ct_grouped, columns=["count"])
df_ct_grouped = df_ct_grouped.reset_index()
df_ct_grouped['label_id'] = df_ct_grouped.index
df_ct_grouped

              cell_type  count  label_id
0                  B1 B    410         0
1      CD4+ T activated   2386         1
2          CD4+ T naive   2108         2
3                CD8+ T   2908         3
4            CD14+ Mono   3853         4
5            CD16+ Mono    582         5
6          Erythroblast   2671         6
7              G/M prog    376         7
8                   HSC    241         8
9   ID2-hi myeloid prog    100         9
10                  ILC    443        10
11           Lymph prog    433        11
12            MK/E prog    231        12
13                   NK   1897        13
14        Naive CD20+ B   1252        14
15           Normoblast   1131        15
16          Plasma cell    139        16
17      Proerythroblast    476        17
18       Transitional B    318        18
19                 cDC2    215        19
20                  pDC    293        20

In [54]:
print(len(df_ct_grouped.index))

21

In [23]:
df_cell_data = sc_raw.obs
df_cell_data['cell_id'] = df_cell_data.index
df_cell_data

,nCount_peaks,atac_fragments,reads_in_peaks_frac,blacklist_fraction,nucleosome_signal,cell_type,pseudotime_order_ATAC,batch,cell_id
TAGTTGTCACCCTCAC-1-s1d1,4031.0,5400,0.746481,0.003473,0.642468,Naive CD20+ B,NaN,s1d1,TAGTTGTCACCCTCAC-1-s1d1
CTATGGCCATAACGGG-1-s1d1,8636.0,19266,0.448251,0.003126,1.220679,CD14+ Mono,NaN,s1d1,CTATGGCCATAACGGG-1-s1d1
CCGCACACAGGTTAAA-1-s1d1,4674.0,6177,0.756678,0.001284,0.692573,CD8+ T,NaN,s1d1,CCGCACACAGGTTAAA-1-s1d1
TCATTTGGTAATGGAA-1-s1d1,2803.0,4019,0.697437,0.000714,0.633838,CD8+ T,NaN,s1d1,TCATTTGGTAATGGAA-1-s1d1
ACCACATAGGTGTCCA-1-s1d1,1790.0,2568,0.697040,0.003352,0.727660,CD16+ Mono,NaN,s1d1,ACCACATAGGTGTCCA-1-s1d1
...,...,...,...,...,...,...,...,...,...
TAGTAAGCAACTAGGG-8-s3d6,7239.0,10580,0.684216,0.000553,0.866142,HSC,0.23367,s3d6,TAGTAAGCAACTAGGG-8-s3d6
TGGTCCTTCGGCTAGC-8-s3d6,16056.0,22771,0.705107,0.000810,0.964006,CD4+ T activated,NaN,s3d6,TGGTCCTTCGGCTAGC-8-s3d6
CGCTTGCGTTGTTGGA-8-s3d6,8388.0,14137,0.593337,0.000358,1.215227,pDC,NaN,s3d6,CGCTTGCGTTGTTGGA-8-s3d6
ACCCTCCCAGCCAGTT-8-s3d6,1001.0,1381,0.724837,0.000000,0.714286,CD8+ T,NaN,s3d6,ACCCTCCCAGCCAGTT-8-s3d6
AGTGAACCATCCCGCT-8-s3d6,3183.0,4684,0.679547,0.001257,0.946565,CD4+ T activated,NaN,s3d6,AGTGAACCATCCCGCT-8-s3d6

In [24]:
df_cell_data_labeled = pd.merge(df_cell_data,df_ct_grouped, on='cell_type', how='inner')
df_cell_data_labeled

,nCount_peaks,atac_fragments,reads_in_peaks_frac,blacklist_fraction,nucleosome_signal,cell_type,pseudotime_order_ATAC,batch,cell_id,count,label_id
0,4031.0,5400,0.746481,0.003473,0.642468,Naive CD20+ B,NaN,s1d1,TAGTTGTCACCCTCAC-1-s1d1,1252,14
1,5174.0,6625,0.780981,0.000000,0.538028,Naive CD20+ B,NaN,s1d1,AGCAATACAATATGGA-1-s1d1,1252,14
2,7126.0,10169,0.700757,0.001965,0.780461,Naive CD20+ B,NaN,s1d1,CCATAATCATGTCAGC-1-s1d1,1252,14
3,7030.0,8944,0.786002,0.003129,0.740834,Naive CD20+ B,NaN,s1d1,ATCAGGTTCATGACCG-1-s1d1,1252,14
4,7177.0,10879,0.659711,0.005295,1.027491,Naive CD20+ B,NaN,s1d1,TCAGTGAGTGCTCCGT-1-s1d1,1252,14
...,...,...,...,...,...,...,...,...,...,...,...
22458,6515.0,9187,0.709154,0.000921,0.705244,cDC2,NaN,s3d6,ACGCCTTTCGGTTACG-8-s3d6,215,19
22459,8020.0,12605,0.636255,0.000998,0.851389,cDC2,NaN,s3d6,TGGATTGGTCACAGAC-8-s3d6,215,19
22460,14929.0,28335,0.526875,0.001005,1.052301,cDC2,NaN,s3d6,TCGCATTGTGCTTTAC-8-s3d6,215,19
22461,3317.0,4754,0.697728,0.001206,0.845018,cDC2,NaN,s3d6,TACTGCACAAGCCAGA-8-s3d6,215,19
22462,2028.0,4312,0.470315,0.004931,0.733333,cDC2,NaN,s3d6,TCCTGTTCATAGTCAT-8-s3d6,215,19

In [26]:
df_label_id = pd.DataFrame(df_cell_data_labeled["label_id"])
df_label_id

       label_id
0            14
1            14
2            14
3            14
4            14
...         ...
22458        19
22459        19
22460        19
22461        19
22462        19

[22463 rows x 1 columns]

In [27]:
dense = sc_raw.X.todense()

In [29]:
df_x = pd.DataFrame(dense)
df_x

,0,1,2,3,4,5,6,7,8,9,...,116480,116481,116482,116483,116484,116485,116486,116487,116488,116489
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22458,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22459,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22460,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
22461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22462,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
sc_raw.obs = sc_raw.obs.reset_index().merge(df_ct_grouped, on='cell_type', how='inner').set_index('index')
sc_raw.obs

,nCount_peaks,atac_fragments,reads_in_peaks_frac,blacklist_fraction,nucleosome_signal,cell_type,pseudotime_order_ATAC,batch,count,label_id
index,,,,,,,,,,
TAGTTGTCACCCTCAC-1-s1d1,4031.0,5400,0.746481,0.003473,0.642468,Naive CD20+ B,NaN,s1d1,1252,14
AGCAATACAATATGGA-1-s1d1,5174.0,6625,0.780981,0.000000,0.538028,Naive CD20+ B,NaN,s1d1,1252,14
CCATAATCATGTCAGC-1-s1d1,7126.0,10169,0.700757,0.001965,0.780461,Naive CD20+ B,NaN,s1d1,1252,14
ATCAGGTTCATGACCG-1-s1d1,7030.0,8944,0.786002,0.003129,0.740834,Naive CD20+ B,NaN,s1d1,1252,14
TCAGTGAGTGCTCCGT-1-s1d1,7177.0,10879,0.659711,0.005295,1.027491,Naive CD20+ B,NaN,s1d1,1252,14
...,...,...,...,...,...,...,...,...,...,...
ACGCCTTTCGGTTACG-8-s3d6,6515.0,9187,0.709154,0.000921,0.705244,cDC2,NaN,s3d6,215,19
TGGATTGGTCACAGAC-8-s3d6,8020.0,12605,0.636255,0.000998,0.851389,cDC2,NaN,s3d6,215,19
TCGCATTGTGCTTTAC-8-s3d6,14929.0,28335,0.526875,0.001005,1.052301,cDC2,NaN,s3d6,215,19
TACTGCACAAGCCAGA-8-s3d6,3317.0,4754,0.697728,0.001206,0.845018,cDC2,NaN,s3d6,215,19
TCCTGTTCATAGTCAT-8-s3d6,2028.0,4312,0.470315,0.004931,0.733333,cDC2,NaN,s3d6,215,19

In [44]:
idx = 0

In [45]:
sc_raw.X

<22463x116490 sparse matrix of type '<class 'numpy.float32'>'
	with 70181087 stored elements in Compressed Sparse Column format>

In [50]:
dense[1].shape

(1, 116490)

In [52]:
sc_raw.obs.iloc[0]['label_id']

14